#header {
    float: right;
    padding: 10px;
    height: 70px;
    width: 200px;
    transform: rotate(15deg);
    position: absolute;
    top: 50px;
    right: 50px;
    color:white;
    font-weight: bold;
    font-size: 30pt;

    text-align: right;

    border-radius: 20px;
    background-image: linear-gradient(135deg, rgb(240, 232, 128) 0%, lightgreen 70%);
}

table {
    width: 100%;
    border-spacing: 0;
    padding: 0;
    border: 0;
}

#firstTD {
    width: 15%;
    background-color: wheat;
}

#yellowTD {
    width: 10%;
    background-color: yellow;
}

.pinkTD {
    width: 15%;
    background-color: pink;
}

#grayTD {
    width: 20%;
    background-color: gray;
}