div.maintext {
    background-color: rgba(100, 200, 0, 0.256);
    padding: 10px;
    font-size: 1.2em;
    width: 100px;
    text-align: center;
}



@media (max-device-width: 400px) {
    div.maintext {
        font-size: 1.3em;
        background-color: rgba(150, 100, 200, 0.256);
    }
}

span {
    font-size: 16pt;
    color:blueviolet;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}